In [8]:
import pandas as pd
data=pd.read_csv("DS1_C4_S4_Used_Car_Prices_Data_Challenge.csv")
data

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mp,Arrival_Date
0,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,16639.0,white,black,"kia motors america, inc",20500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,9393.0,white,beige,"kia motors america, inc",20800,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,ca,4.5,1331.0,gray,black,financial services remarketing (lease),31900,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,ca,4.1,14282.0,white,black,volvo na rep/world omni,27500,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,ca,4.3,2641.0,gray,black,financial services remarketing (lease),66000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,NaN,in,4.5,18255.0,silver,black,avis corporation,35300,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xDrive35d,SUV,automatic,ca,4.8,50561.0,black,black,financial services remarketing (lease),29800,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,ga,3.8,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,ca,3.4,15008.0,gray,gray,"ford motor credit company,llc pd",29600,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [9]:
# Task 1
print(data.isnull().sum())
#Using dropna to remove all the rows who have null values by using inplace 
data.dropna(inplace=True)
data.isnull().sum()

year                0
make            10301
model           10399
trim            10651
body            13195
transmission    65353
state               1
condition       11794
odometer           94
color             749
interior          749
seller              0
mp                  0
Arrival_Date       25
dtype: int64

year            0
make            0
model           0
trim            0
body            0
transmission    0
state           0
condition       0
odometer        0
color           0
interior        0
seller          0
mp              0
Arrival_Date    0
dtype: int64

In [10]:
# Task 2
# giving condition and sorting the values acending and only saving top 100 in new dataframe
x=data[(data.year==2014)&(data.state=="ca")].sort_values("mp").head(100)
x

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mp,Arrival_Date
179673,2014,Nissan,Versa,1.6 SV,Sedan,automatic,ca,2.4,78882.0,white,black,nissan motor acceptance corporation,6175,Thu Jul 02 2015 08:00:00 GMT-0700 (PDT)
494101,2014,Mitsubishi,Mirage,DE,hatchback,automatic,ca,4.3,24002.0,silver,black,black/white auto sales,7225,Wed Jun 03 2015 05:15:00 GMT-0700 (PDT)
477609,2014,Nissan,Versa,1.6 SV,sedan,automatic,ca,4.1,43948.0,black,black,consumer portfolio services,7425,Wed Jun 03 2015 05:30:00 GMT-0700 (PDT)
444039,2014,Nissan,Versa,1.6 SV,Sedan,manual,ca,3.0,44854.0,black,black,bmw alphera/alphera financial services,7525,Tue Jun 02 2015 05:30:00 GMT-0700 (PDT)
543536,2014,smart,fortwo,passion coupe,hatchback,automatic,ca,4.8,3575.0,â€”,black,mercedes-benz financial services,7900,Thu Jun 18 2015 05:30:00 GMT-0700 (PDT)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120118,2014,Mitsubishi,Lancer,ES,Sedan,automatic,ca,4.1,31861.0,black,black,avis rac/san leandro,9725,Wed Jan 21 2015 04:30:00 GMT-0800 (PST)
408827,2014,Nissan,Versa Note,1.6 SV,Hatchback,manual,ca,4.9,13922.0,gray,black,nissan north america inc.,9725,Tue Apr 21 2015 05:30:00 GMT-0700 (PDT)
197057,2014,Nissan,Versa,1.6 SV,Sedan,automatic,ca,3.5,11442.0,black,gray,nissan motor acceptance corporation,9750,Tue Jan 27 2015 04:30:00 GMT-0800 (PST)
299017,2014,Nissan,Versa,1.6 SV,Sedan,automatic,ca,3.8,43774.0,black,black,avis rac/san leandro,9750,Wed Feb 11 2015 04:30:00 GMT-0800 (PST)
197093,2014,Nissan,Versa,1.6 SV,Sedan,automatic,ca,4.6,10529.0,â€”,black,nissan motor acceptance corporation,9750,Tue Jan 27 2015 04:30:00 GMT-0800 (PST)

In [11]:
#Task 3
# using groupby made groub of make column and used mesn on mp column
x.groupby('make')['mp'].mean()

make
Chevrolet     9255.000000
FIAT          9150.000000
Ford          9292.857143
Hyundai       9675.000000
Mazda         9475.000000
Mitsubishi    8866.666667
Nissan        9124.537037
Toyota        9637.500000
Volkswagen    9175.000000
smart         9200.000000
Name: mp, dtype: float64

In [12]:
# Task 4
# using condition on dataframe and storing it in new data frame
y=x[x.make=="Chevrolet"]
# adding new column in new dataframe in which discount value is shown
y['discount_price']=y.mp-(y.mp*0.1)
y

C:\Users\imlad\AppData\Local\Temp\ipykernel_26212\1630135673.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y['discount_price']=y.mp-(y.mp*0.1)

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mp,Arrival_Date,discount_price
518957,2014,Chevrolet,Spark,1LT,hatchback,automatic,ca,1.0,38707.0,white,gray,enterprise vehicle exchange / tra / rental / t...,8400,Tue Jun 09 2015 06:00:00 GMT-0700 (PDT),7560.0
473427,2014,Chevrolet,Spark,1LT,hatchback,automatic,ca,2.3,43370.0,blue,black,enterprise veh exchange/rental,8500,Thu May 28 2015 05:00:00 GMT-0700 (PDT),7650.0
80892,2014,Chevrolet,Spark,1LT,Hatchback,automatic,ca,2.0,34016.0,silver,black,enterprise vehicle exchange / tra / rental / t...,8700,Tue Jan 06 2015 13:00:00 GMT-0800 (PST),7830.0
44314,2014,Chevrolet,Spark,1LT,Hatchback,automatic,ca,2.0,28077.0,â€”,gray,enterprise vehicle exchange / tra / rental / t...,9050,Tue Dec 23 2014 12:00:00 GMT-0800 (PST),8145.0
531030,2014,Chevrolet,Sonic,LT,sedan,automatic,ca,2.5,50629.0,gray,black,the hertz corporation,9150,Thu Jun 11 2015 05:30:00 GMT-0700 (PDT),8235.0
258946,2014,Chevrolet,Sonic,LS,Hatchback,manual,ca,1.9,8887.0,silver,gray,crb auto finance,9250,Wed Feb 11 2015 04:30:00 GMT-0800 (PST),8325.0
471595,2014,Chevrolet,Spark,1LT,hatchback,automatic,ca,2.0,25502.0,silver,black,fox rent a car tra,9325,Wed May 27 2015 08:05:00 GMT-0700 (PDT),8392.5
125534,2014,Chevrolet,Sonic,LT,Sedan,automatic,ca,1.0,34780.0,white,â€”,enterprise vehicle exchange / tra / rental / t...,9450,Wed Jan 14 2015 07:05:00 GMT-0800 (PST),8505.0
44341,2014,Chevrolet,Spark,1LT,Hatchback,automatic,ca,2.0,20701.0,silver,black,enterprise vehicle exchange / tra / rental / t...,9500,Tue Dec 30 2014 13:00:00 GMT-0800 (PST),8550.0
456227,2014,Chevrolet,Sonic,LT,Sedan,automatic,ca,4.4,40464.0,gray,black,the hertz corporation,9500,Thu May 28 2015 05:00:00 GMT-0700 (PDT),8550.0
229362,2014,Chevrolet,Spark,1LT,Hatchback,automatic,ca,4.1,12658.0,silver,black,the hertz corporation,9550,Wed Feb 04 2015 04:30:00 GMT-0800 (PST),8595.0
456215,2014,Chevrolet,Sonic,LT,Sedan,automatic,ca,3.4,39647.0,blue,black,the hertz corporation,9550,Thu May 28 2015 05:00:00 GMT-0700 (PDT),8595.0
105924,2014,Chevrolet,Sonic,LT,Hatchback,automatic,ca,1.0,40051.0,silver,black,enterprise vehicle exchange / tra / rental / t...,9625,Tue Jan 13 2015 12:00:00 GMT-0800 (PST),8662.5
391429,2014,Chevrolet,Spark,LS,Hatchback,automatic,ca,5.0,4459.0,white,gray,buyers auto sales,9625,Wed Mar 04 2015 04:30:00 GMT-0800 (PST),8662.5
125525,2014,Chevrolet,Spark,1LT,Hatchback,automatic,ca,2.0,19146.0,white,â€”,enterprise vehicle exchange / tra / rental / t...,9650,Wed Jan 21 2015 07:05:00 GMT-0800 (PST),8685.0

In [25]:
# Task 5
# using pivot table  fro interior color and men function on mp
x.pivot_table("mp","interior",aggfunc=['mean'])

                 mean
                   mp
interior
beige     9600.000000
black     9128.525641
gray      9314.285714
red       9150.000000
tan       9575.000000
â€”         9437.500000

### only beige color mp value is higher than black and grey and rest are lower

In [9]:
# Task 6
# giving condiition and storing it in new data frame
y=data[(data.year>=2010)&(data.year<=2015)]
# using groupby on new dataframe  for make, color and count on color for values
y.groupby(['make','color'])['color'].count()

make   color
Acura  beige         1
       black       675
       blue         64
       brown         8
       burgundy     69
                  ...
smart  red          37
       silver       46
       white        65
       yellow        4
       â€”             8
Name: color, Length: 620, dtype: int64

In [27]:
# Task 7
# giving condiition and storing it in new data frame
y=data[(data.make=="BMW")&((data.body=="Sedan")|(data.body=="sedan"))&(data.year>=2010)&(data.year<=2015)
     &(data.condition>=4.5)]
# using pivot table on new dataframe  for year, model and max on mp for values
y.pivot_table(index=['year','model'],values=['mp'], aggfunc='max')

                              mp
year model
2010 3 Series              14600
     5 Series              23200
     7 Series              28100
2011 3 Series              38500
     5 Series              37000
     7 Series              26800
     M3                    39700
2012 3 Series              33300
     5 Series              44200
     7 Series              43000
     ActiveHybrid 7        34600
2013 3 Series              38300
     5 Series              42300
     6 Series Gran Coupe   63000
     7 Series              61000
     M5                    66000
2014 3 Series              44800
     5 Series              65000
     6 Series Gran Coupe   68000
     7 Series              56200
     ActiveHybrid 7        66000
     M5                    78000
     M6 Gran Coupe        105000
2015 3 Series              70000
     4 Series Gran Coupe   46900
     5 Series              61000
     6 Series Gran Coupe   68000
     7 Series              67000

In [34]:
# Task 8
# giving condiition and displaying it
data[(data.body=="SUV")&(data.year>=2010)&(data.year<=2015)&(data.odometer<=30000)].sort_values(ascending=False,by="odometer").head(100)

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mp,Arrival_Date
338070,2012,Ford,Edge,SEL,SUV,automatic,ca,4.2,30000.0,gray,black,"ford motor credit company,llc pd",20400,Thu Mar 05 2015 04:30:00 GMT-0800 (PST)
113225,2012,Volkswagen,Tiguan,SE,SUV,automatic,oh,3.7,29998.0,â€”,black,vw credit,16150,Tue Jan 13 2015 09:30:00 GMT-0800 (PST)
408186,2012,Nissan,Murano,S,SUV,automatic,tn,3.4,29997.0,gray,gray,nissan-infiniti lt,16300,Wed Jun 03 2015 03:30:00 GMT-0700 (PDT)
348586,2013,Acura,MDX,Technology Package,SUV,automatic,fl,4.1,29997.0,black,gray,d&a fine cars,32800,Fri Feb 20 2015 09:25:00 GMT-0800 (PST)
147682,2012,Ford,Escape,XLT,SUV,automatic,tn,3.9,29995.0,â€”,black,"ford motor credit company,llc",14750,Wed Jan 21 2015 02:00:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
283695,2013,Lincoln,MKX,Base,SUV,automatic,tn,5.0,29920.0,â€”,black,"ford motor credit company,llc",28500,Thu Feb 19 2015 03:00:00 GMT-0800 (PST)
220976,2012,Ford,Escape,XLT,SUV,automatic,nj,2.8,29920.0,gray,black,"ford motor credit company,llc",17600,Wed Feb 04 2015 01:00:00 GMT-0800 (PST)
249601,2012,Ford,Edge,SEL,SUV,automatic,ca,4.3,29920.0,black,black,"ford motor credit company,llc pd",20100,Thu Feb 12 2015 04:00:00 GMT-0800 (PST)
206862,2013,Kia,Sorento,LX,SUV,automatic,ca,4.4,29920.0,gray,black,kia motors finance,15550,Tue Jan 27 2015 04:30:00 GMT-0800 (PST)
415471,2014,Hyundai,Tucson,SE,SUV,automatic,ca,4.4,29920.0,gray,black,avis corporation,19050,Tue May 19 2015 05:45:00 GMT-0700 (PDT)